img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

figcaption {
  padding-bottom: 20px;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.horizontal-line {
  height: 3px;
  border: none;
  color: #7d97ad;
  background-color: #333;
}
